body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita el desplazamiento horizontal */
}

.page-content {
    transition: none; /* El contenido no se verá afectado por la apertura del menú */
}


/************************Sección de Métodos de Pago************************/
#pago-contenido {
    display: flex; /* Para alinear los elementos horizontalmente */
    flex-direction: column; /* Orden vertical */
    gap: 20px; /* Espacio entre las secciones */
    padding: 20px;
}
.payment-methods {
    background-color: #f2f2f2; /* Fondo gris claro */
    padding: 20px; /* Espacio interior */
    text-align: center;
    margin-left: auto; /* Centrado horizontal */
    margin-right: auto;
    width: 300px; /* Ancho de la sección ajustado */
    box-shadow: 0 6px 12px rgba(200, 1, 1, 1.15); /* Sombra roja */
    border-radius: 10px; /* Bordes redondeados */
    border: 1px solid #e74c3c; /* Borde rojo */
}

.payment-methods h3 {
    margin-bottom: 30px; /* Espacio entre el título y la tabla */
    font-size: 20px; /* Tamaño del título */
    color: #333;
    text-align: center;
}

.payment-table {
    display: grid; /* Usar grid */
    grid-template-columns: repeat(2, 1fr); /* Dos columnas con tamaño igual */
    gap: 30px; /* Aumentar el espacio entre ítems */
    text-align: center; /* Centrar el contenido */
    margin-bottom: 20px; /* Espacio entre la tabla y el resto del contenido */
}


.payment-item {
    display: flex;
    flex-direction: column; /* Alinea la imagen y el texto verticalmente */
    align-items: center; /* Centra la imagen y el texto */
    padding: 15px; /* Espacio interno */
    border-radius: 8px; /* Bordes redondeados */
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease; /* Efecto de animación */
    cursor: pointer; /* Cambia el cursor a mano cuando se pasa por encima */
    position: relative; /* Para la línea roja al pasar el cursor */
    background-color: #fff; /* Fondo blanco por defecto */
}

.payment-item:hover {
    transform: translateY(-10px); /* Mueve ligeramente hacia arriba */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); /* Aumenta la sombra para dar más profundidad */
    background-color: #696969; /* Fondo gris oscuro al pasar el cursor */
}

.payment-item:hover::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #e74c3c; /* Línea roja */
}

.payment-item img {
    width: 60px; /* Tamaño de la imagen ajustado */
    height: auto;
    margin-bottom: 10px; /* Espacio entre la imagen y el nombre */
    transition: transform 0.3s ease; /* Efecto en la imagen */
    max-width: 100%; /* Asegura que la imagen no se salga del cuadro */
    border-radius: 4px; /* Bordes ligeramente redondeados en la imagen */
}

.payment-item img:hover {
    transform: scale(1.1); /* Aumenta el tamaño de la imagen */
}

.payment-item p {
    font-size: 16px;
    color: #333; /* Gris oscuro para el texto */
    margin: 0;
    font-weight: 500; /* Fuente ligeramente más gruesa */
    transition: color 0.3s ease; /* Transición suave para el color */
}

.payment-item:hover p {
    color: #fff; /* Cambia el color del texto a blanco */
}

.continue-shopping {
    font-size: 18px;
    font-weight: bold;
    color: black;
    margin-top: 30px;
    text-align: center;
    transition: color 0.3s ease; /* Transición suave para el color */
}

.continue-shopping:hover {
    color: #c0392b; /* Rojo oscuro cuando pasa el ratón */
}

.continue-shopping::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #e74c3c; /* Línea roja */
    margin-bottom: 10px; /* Espacio entre la línea y el texto */
}

#total {
    display: block;
    margin-top: 20px;
    background-color: #f2f2f2; /* Fondo gris claro */
    padding: 20px; /* Espacio interior */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Sombra suave */
    border-radius: 10px; /* Bordes redondeados */
    border: 1px solid #e74c3c; /* Borde rojo */
    text-align: center;
}

#total p {
    font-size: 18px;
    color: #333; /* Gris oscuro para el texto */
}

#total button {
    margin-top: 10px;
    padding: 10px 20px;
    border: none;
    background-color: #e74c3c; /* Rojo como color del botón */
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#total button:hover {
    background-color: #c0392b; /* Rojo oscuro cuando pasa el ratón */
}

/* Efecto de hover temporal en los payment-item */
.payment-item.hover-effect {
transform: translateY(-10px); /* Elevación */
transition: transform 0.5s ease, box-shadow 0.5s ease, background-color 0.5s ease;
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Sombra */
background-color: #696969; /* Fondo gris oscuro */
}

.payment-item.hover-effect p {
color: #fff; /* Cambiar color del texto */
transition: color 0.5s ease;
}





/*************************** Sección de Reseñas de Clientes **************************/
.customer-reviews {
    background-color: #fff;
    padding: 40px 0;
    text-align: center;
}

.customer-reviews h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 30px;
}

.review {
    background-color: #f5f5f5;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.review p {
    color: #777;
    font-style: italic;
}

.review p:last-child {
    font-weight: bold;
    color: #333;
}

.mensaje-vacio {
    color: #ff003c;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}


/* Estilo general para el carrito */
#carrito-contenido {
margin: 20px auto; /* Centra el contenedor */
padding: 10px;
background-color: #f9f9f9;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
max-width: 800px; /* Ancho máximo */
overflow-y: auto; /* Permite desplazamiento si hay muchos productos */
min-height: 100px; /* Un mínimo de altura inicial */
max-height: fit-content;
}


/* Media Query para pantallas medianas (tablets) */
@media (max-width: 768px) {
#carrito-contenido {
    margin: 10px;
    padding: 15px; /* Aumentar un poco el padding */
    max-width: 90%; /* Reducir el ancho */
}
}

/* Media Query para pantallas pequeñas (móviles) */
@media (max-width: 480px) {
#carrito-contenido {
    margin: 5px;
    padding: 10px;
    box-shadow: none; /* Eliminar sombra para dispositivos muy pequeños */
    border-radius: 4px; /* Bordes menos redondeados */
    max-width: 100%; /* Ancho completo */
}
}


.carrito-item {
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px;
border-bottom: 1px solid #ddd;
margin-bottom: 10px;
background-color: #fff;
border-radius: 8px;
}

.carrito-item:last-child {
border-bottom: none;
}



.carrito-item div {
flex-grow: 1;
display: flex;
flex-direction: column;
}

.carrito-item p {
margin: 5px 0;
font-size: 14px;
}

.carrito-item p span {
font-weight: bold;
}

.carrito-item button {
background-color: #e74c3c;
color: white;
border: none;
padding: 5px 10px; /* Reduce el padding para hacerlo más pequeño */
border-radius: 4px; /* Ligeramente menos redondeado */
cursor: pointer;
font-size: 12px; /* Reduce el tamaño de la fuente */
transition: background-color 0.3s ease;
}


.carrito-item button:hover {
background-color: #c0392b;
}

#total {
margin-top: 20px;
padding: 20px;
background-color: #f2f2f2;
border-radius: 8px;
text-align: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#total p {
font-size: 18px;
margin-bottom: 10px;
}

#vaciar-carrito, #comprar {
padding: 10px 20px;
background-color: #ff003c;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
margin: 5px;
font-size: 16px;
transition: background-color 0.3s ease;
}

#vaciar-carrito:hover, #comprar:hover {
background-color: #c0392b;
}

#total button:focus {
outline: none;
}


/* Contenedor principal para el carrito con dos columnas */
.carrito-main {
display: flex;
flex-wrap: wrap; /* Permite que los elementos se ajusten si no caben */
gap: 20px; /* Espacio entre las columnas */
margin: 20px; /* Márgenes externos */
justify-content: space-between; /* Espaciado entre columnas */
}

/* Columna izquierda (contenido del carrito) */
.carrito-columna {
flex: 1; /* Hace que las columnas se expandan igualmente */
min-width: 45%; /* Ancho mínimo para cada columna */
background-color: #f9f9f9;
padding: 15px;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilos adicionales para los elementos del carrito */
.carrito-columna h2 {
font-size: 20px;
margin-bottom: 10px;
color: #333;
}

.carrito-columna #carrito-contenido,
.carrito-columna #total {
margin-bottom: 20px; /* Espacio entre secciones */
}




.carrito-vacio-link {
font-size: 18px;
color: #000000; /* Color predeterminado */
transition: color 0.3s ease; /* Transición para el color */
}

.carrito-vacio-link:hover {
color: #ff003c; /* Color rojo menos intenso al pasar el cursor */
}
