

#chatbot-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 300px;
    border: 1px solid #ccc;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: none;
    z-index: 1000;
}

#chatbot-header {
    background-color: #f0f0f0;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chatbot-header h3 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

#close-chatbot-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #999;
}

#close-chatbot-btn:hover {
    color: #333;
}

#chatbot-body {
    max-height: 200px;
    overflow-y: auto;
    padding: 10px;
}

.chatbot-message {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#chatbot-input {
    padding: 10px;
    display: flex;
    align-items: center;
    border-top: 1px solid #ccc;
}

#user-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
}

#send-btn {
    padding: 8px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#send-btn:hover {
    background-color: #0056b3;
}

.ícono-Ayuda {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1;
    background-color: #1d1e1d;
    color: white;
    padding: 20px;
    border-radius: 50%;
    height: 35px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
}

.ícono-Ayuda i {
    margin-right: 5px;
}

.ícono-Ayuda:hover {
    background-color: #333;
    cursor: pointer;
}