.filtros {
    max-width: 200px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: -20px;
    margin-top: -40px;
}

.filtro-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.filtro-subcategoria {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.filtro-subcategoria h3 {
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px;
}

.filtro-subcategoria label {
    display: block;
    margin-bottom: 5px;
}

.reset-btn {
    background-color: #801b10;
    color: white;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 15px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.reset-btn:hover {
    background-color: #c0392b;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.filtro-acciones {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
