/* Contenido interior con un máximo de 1200px de ancho */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    text-align: center;
}

/* Sección de texto */
.text-section {
    margin-bottom: 20px; /* Reducir margen */
}

/* Contenedor del mapa y menú */
.map-section {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 30px; /* Espacio entre el menú y el mapa */
    z-index: 1;
}

/* Estilos del menú (lado derecho) */
.menu {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    height: 520px;
    text-align: center;
}

/* Contenedor del select */
.select-container {
    margin-bottom: 20px; /* Espacio entre el select y el mapa */
    width: 100%;
    max-width: 300px; /* Limitar el ancho del select */
}

/* Estilos para el select */
select {
    width: 100%;
    padding: 8px; /* Reducir el padding para hacer el select más pequeño */
    font-size: 16px; /* Reducir el tamaño de la fuente */
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

/* Estilos del mapa */
#map {
    height: 400px; /* Aumento de altura del mapa */
    width: 70%; /* El mapa ocupa el 70% del espacio */
    border-radius: 8px;
    border: 1px solid #ddd;
}
